Repository etzlertech/jobeye: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "bash -c 'tsc --noEmit -p tsconfig.json'",
    "eslint --fix --max-warnings 0"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings 0"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'"
  ]
}

WIP: scheduling module implementation and tests
  reports/db-precheck-ocr.txt
  src/core/config/environment.ts
  src/scheduling/offline/__tests__/sync-queue.test.ts
  src/scheduling/offline/conflict-resolver.ts
  src/scheduling/services/__tests__/kit.service.test.ts
  src/scheduling/services/route-optimization.service.ts
  src/scheduling/services/schedule-conflict.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs: add WIP status documentation for scheduling module
  SCHEDULING_WIP_STATUS.md
Due: none

fix: complete scheduling module testing and PostGIS location data
  READY_TO_TEST.md
  SCHEDULING_API_CONTRACT_STATUS.md
  SCHEDULING_COMPLETE.md
  SCHEDULING_FINAL_STATUS.md
  SCHEDULING_TEST_HARNESS.md
  SCHEDULING_WIP_STATUS.md
  package-lock.json
  package.json
  scripts/test-scheduling-interactive.ts
  scripts/test-scheduling-simple.ts
  specs/001-vision-based-kit/spec.md
  src/__tests__/helpers/test-db-setup.ts
  src/__tests__/scheduling/contract/day-plans-get.test.ts
  src/__tests__/scheduling/contract/day-plans-post.test.ts
  src/__tests__/scheduling/contract/schedule-events-post.test.ts
  src/app/api/jobs/[jobId]/kits/[kitId]/verify/route.ts
  src/app/api/scheduling/day-plans/route.ts
  src/app/api/scheduling/schedule-events/route.ts
  src/lib/supabase/server.ts
  src/scheduling/offline/__tests__/sync-queue.test.ts
  src/scheduling/offline/indexed-db.service.ts
  src/scheduling/offline/sync-queue.service.ts
  src/scheduling/repositories/day-plan.repository.ts
  src/scheduling/repositories/kit-assignment.repository.ts
  src/scheduling/repositories/schedule-event.repository.ts
  src/scheduling/services/__tests__/kit.service.test.ts
  src/scheduling/services/__tests__/schedule-conflict.service.test.ts
  src/scheduling/services/kit.service.ts
  src/scheduling/services/schedule-conflict.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(vision): complete implementation plan for vision-based kit verification
  specs/001-vision-based-kit/plan.md
  specs/001-vision-based-kit/spec.md
Due: none

feat(vision): generate 85-task implementation roadmap with TDD approach
  specs/001-vision-based-kit/tasks.md
Due: none

feat(vision): complete initial setup tasks T001-T005
  VOICE_LLM_READY.md
  VOICE_LLM_TEST_GUIDE.md
  package-lock.json
  package.json
  scripts/test-scheduling-voice-llm.ts
  src/domains/vision/lib/vision-types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: add full voice pipeline with OpenAI TTS
  VOICE_COMPLETE.md
  package-lock.json
  package.json
  reports/db-precheck-ocr.txt
  scripts/test-scheduling-voice-full.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

test: add comprehensive scheduling test suite with 35 tests
  TEST_RESULTS_COMPREHENSIVE.md
  reports/db-precheck-ocr.txt
  scripts/test-scheduling-comprehensive.ts
  specs/001-vision-based-kit/DB_PRECHECK_FINDINGS.md
  supabase/migrations/040_vision_detected_items.sql
  supabase/migrations/041_vision_cost_records.sql
  supabase/migrations/042_vision_confidence_config.sql
  supabase/migrations/043_vision_extend_existing.sql
  supabase/migrations/044_vision_rls_policies.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

feat: add interactive web UI for scheduling testing
  TEST_UI_GUIDE.md
  __tests__/domains/vision/contract/vision-verify-budget.test.ts
  __tests__/domains/vision/contract/vision-verify-post.test.ts
  src/app/test-scheduling/page.tsx
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test(vision): add 4 contract tests T016-T019 (TDD - will fail)
  __tests__/domains/vision/contract/vision-history-get.test.ts
  __tests__/domains/vision/contract/vision-queue-get.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

test(vision): complete T016-T025 - all TDD tests (WILL FAIL)
  __tests__/domains/vision/integration/offline-queue-sync.test.ts
  __tests__/domains/vision/integration/rls-isolation.test.ts
  __tests__/domains/vision/integration/vision-verification-flow.test.ts
  __tests__/domains/vision/integration/vlm-fallback-flow.test.ts
  __tests__/domains/vision/performance/frame-rate.bench.ts
  __tests__/domains/vision/performance/yolo-latency.bench.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

docs: comprehensive session summary and final testing
  SESSION_SUMMARY.md
  public/models/README.md
  public/models/yolov11n.onnx
  src/__tests__/domains/vision/frame-rate.bench.ts
  src/__tests__/domains/vision/offline-queue-sync.test.ts
  src/__tests__/domains/vision/rls-isolation.test.ts
  src/__tests__/domains/vision/vision-history-get.test.ts
  src/__tests__/domains/vision/vision-queue-get.test.ts
  src/__tests__/domains/vision/vision-verification-flow.test.ts
  src/__tests__/domains/vision/vision-verify-budget.test.ts
  src/__tests__/domains/vision/vision-verify-post.test.ts
  src/__tests__/domains/vision/vlm-fallback-flow.test.ts
  src/__tests__/domains/vision/yolo-latency.bench.ts
  src/domains/vision/lib/yolo-loader.ts
  src/lib/supabase/server.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(vision): implement YOLO integration with 1 fps throttle
  TESTING_COMPLETE.md
  scripts/test-scheduling-e2e.ts
  src/domains/vision/lib/__tests__/fps-controller.test.ts
  src/domains/vision/lib/__tests__/yolo-inference.test.ts
  src/domains/vision/lib/__tests__/yolo-loader.test.ts
  src/domains/vision/lib/fps-controller.ts
  src/domains/vision/lib/yolo-inference.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(vision): implement VLM fallback with cost tracking
  E2E_TEST_RESULTS.md
  E2E_TEST_SCENARIOS.md
  scripts/test-scheduling-e2e.ts
  src/app/api/scheduling/day-plans/route.ts
  src/app/api/scheduling/schedule-events/route.ts
  src/domains/vision/lib/__tests__/vlm-fallback-integration.test.ts
  src/domains/vision/lib/__tests__/vlm-router.test.ts
  src/domains/vision/lib/cost-estimator.ts
  src/domains/vision/lib/openai-vision-adapter.ts
  src/domains/vision/lib/vlm-fallback-router.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(vision): implement repository layer with RLS support
  scripts/test-scheduling-scenarios.ts
  src/domains/vision/repositories/cost-record.repository.ts
  src/domains/vision/repositories/detected-item.repository.ts
  src/domains/vision/repositories/vision-verification.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(vision): add repository unit tests (partial)
  SCENARIO_TEST_RESULTS.md
  scripts/apply-rls-fix.ts
  scripts/fix-rls-policies.ts
  scripts/test-scheduling-scenarios.ts
  src/app/api/scheduling/schedule-events/route.ts
  src/domains/vision/__tests__/unit/cost-record.repository.test.ts
  src/domains/vision/__tests__/unit/detected-item.repository.test.ts
  src/domains/vision/__tests__/unit/vision-verification.repository.test.ts
  supabase/migrations/038_fix_scheduling_rls_app_metadata.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test: achieve 100% pass rate on scheduling E2E tests (54/54)
  .specify/constitution.md
  AGENTS.md
  CLAUDE.md
  README.md
  SCHEDULING_TEST_SUCCESS.md
  docs/database-migration-guide.md
  scripts/apply-job-limit-trigger.ts
  scripts/test-rls-directly.ts
  scripts/test-scheduling-scenarios.ts
  supabase/migrations/039_enforce_6_job_limit_trigger.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

fix: add company_id to scheduling test requests and extract from JWT
  src/__tests__/scheduling/contract/day-plans-post.test.ts
  src/__tests__/scheduling/contract/schedule-events-post.test.ts
  src/app/api/scheduling/day-plans/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(vision): add batch verification, offline queue, and PDF export
  src/__tests__/setup.ts
  src/app/api/scheduling/day-plans/route.ts
  src/app/api/vision/batch-verify/route.ts
  src/app/api/vision/cost/budget/route.ts
  src/app/api/vision/cost/summary/route.ts
  src/app/api/vision/verifications/[id]/route.ts
  src/app/api/vision/verifications/route.ts
  src/app/api/vision/verify/route.ts
  src/app/vision/verify/page.tsx
  src/domains/vision/__tests__/api/verify.route.test.ts
  src/domains/vision/__tests__/unit/cost-record.repository.test.ts
  src/domains/vision/__tests__/unit/cost-tracking.service.test.ts
  src/domains/vision/__tests__/unit/detected-item-matching.service.test.ts
  src/domains/vision/__tests__/unit/detected-item.repository.test.ts
  src/domains/vision/__tests__/unit/vision-verification.repository.test.ts
  src/domains/vision/components/BatchVerification.tsx
  src/domains/vision/components/CameraCapture.tsx
  src/domains/vision/components/CostDashboard.tsx
  src/domains/vision/components/OfflineQueueStatus.tsx
  src/domains/vision/components/VerificationDisplay.tsx
  src/domains/vision/components/VerificationHistory.tsx
  src/domains/vision/lib/offline-queue.ts
  src/domains/vision/services/batch-verification.service.ts
  src/domains/vision/services/cost-tracking.service.ts
  src/domains/vision/services/detected-item-matching.service.ts
  src/domains/vision/services/pdf-export.service.ts
  src/domains/vision/services/vision-verification.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: improve scheduling API endpoints and test pass rate
  src/app/api/scheduling/schedule-events/route.ts
  src/domains/vision/components/VerificationDisplay.tsx
  src/domains/vision/services/voice-narration.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(vision): add voice narration, cost trends, and admin dashboard
  src/app/vision/admin/page.tsx
  src/domains/vision/components/CostDashboard.tsx
  src/domains/vision/components/CostTrendChart.tsx
  src/domains/vision/services/cost-tracking.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: complete optimize-route and kit-verify endpoint implementations
  src/app/api/jobs/[jobId]/kits/[kitId]/verify/route.ts
  src/app/api/scheduling/day-plans/[id]/optimize/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: complete kit-override endpoint implementation
  src/app/api/kit-overrides/route.ts
  src/domains/vision/__tests__/scenarios/batch-verification.scenario.test.ts
  src/domains/vision/__tests__/scenarios/offline-queue.scenario.test.ts
  src/domains/vision/__tests__/scenarios/pdf-export.scenario.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: complete kits POST endpoint with variants and validation
  src/app/api/kits/route.ts
  src/domains/vision/__tests__/scenarios/cost-trend-chart.scenario.test.ts
  src/domains/vision/__tests__/scenarios/voice-narration.scenario.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test(vision): add comprehensive end-to-end scenario tests
  src/app/vision/admin/__tests__/admin-dashboard.scenario.test.tsx
  src/domains/vision/__tests__/scenarios/full-workflow.integration.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: add Feature 004 specification - Voice & Vision Inventory Management
  specs/004-voice-vision-inventory/spec.md
Due: none

feat(004): complete Phase 0 (research) and Phase 1 (design)
  CLAUDE.md
  specs/004-voice-vision-inventory/contracts/inventory-detection.yaml
  specs/004-voice-vision-inventory/contracts/inventory-transactions.yaml
  specs/004-voice-vision-inventory/data-model.md
  specs/004-voice-vision-inventory/plan.md
  specs/004-voice-vision-inventory/quickstart.md
  specs/004-voice-vision-inventory/research.md
  specs/004-voice-vision-inventory/spec.md
Due: none

feat(004): generate Phase 2 implementation tasks
  specs/004-voice-vision-inventory/tasks.md
Due: none

docs(004): update plan.md - Phase 3 tasks generation complete
  specs/004-voice-vision-inventory/plan.md
Due: none

test(vision): improve test coverage to 75% with comprehensive mocks and fixes
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  FINAL_VISION_TESTING_RESULTS.md
  MISSING_SERVICE_METHODS.md
  NEW_SCENARIO_TESTS_SUMMARY.md
  SESSION_COMPLETE_VISION_TESTS.md
  TEST_IMPROVEMENTS_SUMMARY.md
  VISION_FEATURE_STATUS.md
  VISION_TESTING_IMPLEMENTATION_SUMMARY.md
  docs/api/vision.md
  src/__tests__/helpers/indexeddb-mock.ts
  src/__tests__/mocks/openai-vision.mock.ts
  src/__tests__/mocks/speech-synthesis.mock.ts
  src/__tests__/mocks/supabase-client.mock.ts
  src/__tests__/mocks/yolo-inference.mock.ts
  src/__tests__/setup.ts
  src/domains/vision/README.md
  src/domains/vision/__tests__/helpers/test-setup.ts
  src/domains/vision/__tests__/integration/vlm-fallback-edge-cases.test.ts
  src/domains/vision/__tests__/performance/cost-tracking.bench.ts
  src/domains/vision/__tests__/performance/yolo-inference.bench.ts
  src/domains/vision/__tests__/scenarios/complete-verification-flow.e2e.test.ts
  src/domains/vision/__tests__/scenarios/cross-domain-integration.e2e.test.ts
  src/domains/vision/__tests__/scenarios/diverse-data-scenarios.e2e.test.ts
  src/domains/vision/__tests__/scenarios/offline-queue.scenario.test.ts.bak
  src/domains/vision/__tests__/scenarios/voice-narration.scenario.test.ts
  src/domains/vision/__tests__/unit/batch-verification.service.test.ts
  src/domains/vision/__tests__/unit/voice-narration.service.test.ts
  src/domains/vision/lib/cost-estimator.ts
  src/domains/vision/lib/offline-queue.ts
  src/domains/vision/lib/vlm-fallback-router.ts
  src/domains/vision/repositories/detected-item.repository.ts
  src/domains/vision/repositories/vision-verification.repository.ts
  src/domains/vision/services/batch-verification.service.ts
  src/domains/vision/services/voice-narration.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

refactor(004): split T032 (OCR) and T040 (check-out) to reduce complexity
  specs/004-voice-vision-inventory/tasks.md
Due: none

feat(004): complete Phase 3.1 - Setup & Database
  TEST_COVERAGE_ANALYSIS.md
  package-lock.json
  package.json
  scripts/apply-inventory-migration.ts
  scripts/check-actual-column-types.ts
  scripts/check-companies-schema.ts
  scripts/check-db-simple.ts
  src/__tests__/e2e/complete-workflows.e2e.test.ts
  supabase/migrations/050_inventory_vision_extend.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test(e2e): add 10 comprehensive end-to-end workflow scenarios
  E2E_COMPLETE_WORKFLOWS.md
Due: none

test(004): complete Phase 3.2 - Contract Tests (TDD)
  tests/api/inventory-audit.contract.test.ts
  tests/api/inventory-checkin.contract.test.ts
  tests/api/inventory-checkout.contract.test.ts
  tests/api/inventory-confirm-selection.contract.test.ts
  tests/api/inventory-detect.contract.test.ts
  tests/api/inventory-material-usage.contract.test.ts
  tests/api/inventory-transfer.contract.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

test(004): complete Phase 3.3 - Integration Tests (TDD)
  tests/integration/inventory-offline-queue.test.ts
  tests/integration/inventory-rls.test.ts
  tests/integration/inventory-training-data.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

feat(e2e): improve E2E test infrastructure - 2/10 scenarios passing
  E2E_TEST_SETUP_REQUIRED.md
  E2E_TEST_STATUS_FINAL.md
  scripts/check-jobs-schema.ts
  scripts/check-schema.ts
  scripts/create-e2e-tables.ts
  scripts/get-jobs-columns.ts
  scripts/setup-e2e-tests.ts
  scripts/test-jobs-insert.ts
  src/__tests__/e2e/complete-workflows.e2e.test.ts
  src/domains/inventory/repositories/container-assignments.repository.ts
  src/domains/inventory/repositories/containers.repository.ts
  src/domains/inventory/repositories/inventory-items.repository.ts
  src/domains/inventory/repositories/inventory-transactions.repository.ts
  src/domains/inventory/repositories/purchase-receipts.repository.ts
  src/domains/inventory/repositories/training-data.repository.ts
  src/domains/inventory/types/inventory-types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix(e2e): complete Phase 1 schema fixes - jobs table alignment
  E2E_PROGRESS_UPDATE.md
  src/__tests__/e2e/complete-workflows.e2e.test.ts
  src/domains/vision/services/crop-generator.service.ts
  src/domains/vision/services/detection-session.service.ts
  src/domains/vision/services/ocr-gpt4.service.ts
  src/domains/vision/services/ocr-orchestrator.service.ts
  src/domains/vision/services/ocr-tesseract.service.ts
  src/domains/vision/services/vlm-fallback.service.ts
  src/domains/vision/services/yolo-inference.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(e2e): breakthrough - 4/10 tests passing (40% → 100% improvement!)
  scripts/check-rls-status.ts
  scripts/create-user-assignments-table.ts
  scripts/list-tables.ts
  scripts/query-rls-policies.ts
  scripts/test-service-role-direct.ts
  src/__tests__/e2e/complete-workflows.e2e.test.ts
  src/domains/inventory/services/audit.service.ts
  src/domains/inventory/services/check-in.service.ts
  src/domains/inventory/services/check-out.service.ts
  src/domains/inventory/services/detection-orchestrator.service.ts
  src/domains/inventory/services/material-usage.service.ts
  src/domains/inventory/services/offline-queue.service.ts
  src/domains/inventory/services/receipt-processing.service.ts
  src/domains/inventory/services/transfer.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs(e2e): final status - 40% passing, clear path to 100%
  E2E_FINAL_STATUS.md
  scripts/create-test-fixtures.ts
  scripts/create-test-tenant.ts
  src/domains/inventory/services/container-management.service.ts
  src/domains/inventory/services/training-data.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(inventory): add Phase 3.7-3.8 - voice integration and API endpoints
  src/app/api/inventory/check-in/route.ts
  src/app/api/inventory/check-out/route.ts
  src/app/api/inventory/confirm-selection/route.ts
  src/app/api/inventory/detect/route.ts
  src/app/api/inventory/material-usage/route.ts
  src/app/api/inventory/transfer/route.ts
  src/domains/inventory/services/voice-feedback.service.ts
  src/domains/inventory/services/voice-intent-handlers.service.ts
  src/domains/voice/services/intent-recognition-service.ts
  src/domains/voice/types/voice-types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'
