Repository etzlertech/jobeye: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "bash -c 'tsc --noEmit -p tsconfig.json'",
    "eslint --fix --max-warnings 0"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings 0"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'"
  ]
}

feat(templates): implement Phase 2 - Job Creation Integration
  src/app/(authenticated)/supervisor/jobs/_components/JobForm.tsx
  src/app/(authenticated)/supervisor/jobs/_utils/job-utils.ts
  src/app/(authenticated)/supervisor/jobs/page.tsx
  src/app/api/supervisor/jobs/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(templates): implement Phase 3 - Supervisor Job Detail Enhancement
  src/app/(authenticated)/supervisor/jobs/[jobId]/page.tsx
  src/app/(authenticated)/supervisor/jobs/_components/TaskEditor.tsx
  src/app/(authenticated)/supervisor/jobs/_components/TaskList.tsx
  src/app/(authenticated)/supervisor/jobs/_components/TaskTemplateSelector.tsx
  src/app/api/supervisor/jobs/[jobId]/tasks/[taskId]/route.ts
  src/app/api/supervisor/jobs/[jobId]/tasks/from-template/route.ts
  src/app/api/supervisor/jobs/[jobId]/tasks/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs(templates): complete Phase 4 - Testing & Polish
  specs/011-making-task-lists/PHASE_4_COMPLETION.md
  specs/011-making-task-lists/USER_GUIDE.md
Due: none

feat(dashboard): add Task Templates button to supervisor dashboard
  src/app/supervisor/page.tsx
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix(templates): handle empty strings in template validation
  src/app/api/task-templates/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix(templates): include tenant_id when creating templates
  src/app/api/task-templates/route.ts
  src/domains/task-template/repositories/TaskTemplateRepository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix(images): add null safety and TypeScript refinements
  src/components/tasks/TaskItem.tsx
  tests/integration/task-templates/image-upload.int.test.ts
  tests/integration/workflow-tasks/image-upload.int.test.ts
  tests/unit/task-template/TaskTemplateService.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(build): exclude experimental folder from TypeScript build checks
  tsconfig.build.json
Due: none

fix(typescript): resolve all TypeScript errors and cleanup codebase
  src/__tests__/helpers/test-db-setup.ts
  src/__tests__/setup.ts
  src/app/(authenticated)/supervisor/jobs/_components/JobForm.tsx
  src/app/(authenticated)/supervisor/jobs/_components/TaskTemplateSelector.tsx
  src/app/(authenticated)/supervisor/jobs/page-old.tsx
  src/app/(authenticated)/supervisor/tasks/[id]/page.tsx
  src/app/admin/tenants/page.tsx
  src/components/admin/AdminAuthGuard.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/TenantDetailModal.tsx
  src/domains/admin/audit/admin-audit-log.repository.ts
  src/domains/admin/audit/admin-audit-log.service.ts
  src/domains/task-template/services/TaskTemplateService.ts
  src/domains/task-template/types/task-template-types.ts
  src/domains/tenant/services/tenant.service.ts
  src/domains/workflow-task/services/WorkflowTaskService.ts
  src/domains/workflow-task/types/workflow-task-types.ts
  src/lib/supabase/types.ts
  tests/integration/task-templates/image-upload.int.test.ts
  tests/integration/workflow-tasks/image-upload.int.test.ts
  tsconfig.build.json
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(spec): create Task Management feature specification
  specs/014-add-task-management/spec.md
Due: none

feat(plan): complete implementation plan for Task Management feature
  specs/014-add-task-management/contracts/task-definitions-api.json
  specs/014-add-task-management/data-model.md
  specs/014-add-task-management/plan.md
  specs/014-add-task-management/quickstart.md
  specs/014-add-task-management/research.md
Due: none

feat(tasks): generate implementation tasks for task management
  specs/014-add-task-management/tasks.md
Due: none

fix(migrations): remove redundant CREATE TABLE from inventory_images migration
  supabase/migrations/20251012_update_inventory_images_for_unified_schema.sql
Due: none

feat(migration): create task_definitions table for reusable task library
  supabase/migrations/20251019144445_create_task_definitions.sql
Due: none

feat(task-definition): create domain types and schemas
  src/domains/task-definition/schemas/task-definition-schemas.ts
  src/domains/task-definition/types/task-definition-types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test(task-definition): add Zod schema unit tests
  tests/unit/task-definition/schemas.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

test(task-definition): add repository unit tests (TDD - failing)
  tests/unit/task-definition/repository.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

test(task-definition): add service unit tests (TDD - failing)
  tests/unit/task-definition/service.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

test(task-definition): add API contract tests (TDD - failing)
  tests/api/task-definitions/api.contract.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

test(task-definition): add integration tests (TDD - failing)
  tests/integration/task-definitions/crud.int.test.ts
  tests/integration/task-definitions/tenant-isolation.int.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

feat(task-definition): implement TaskDefinitionRepository
  src/domains/task-definition/repositories/TaskDefinitionRepository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(task-definition): implement TaskDefinitionService
  src/domains/task-definition/services/TaskDefinitionService.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(task-definition): implement 6 API routes
  src/app/api/task-definitions/[id]/route.ts
  src/app/api/task-definitions/[id]/usage/route.ts
  src/app/api/task-definitions/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(templates): add task definition library integration and TypeScript fixes
  scripts/apply-migration.js
  src/app/(authenticated)/supervisor/task-definitions/[id]/page.tsx
  src/app/(authenticated)/supervisor/task-definitions/new/page.tsx
  src/app/(authenticated)/supervisor/task-definitions/page.tsx
  src/app/(authenticated)/supervisor/templates/[id]/edit/page.tsx
  src/app/(authenticated)/supervisor/templates/create/page.tsx
  src/app/supervisor/page.tsx
  src/components/task-definitions/TaskDefinitionCard.tsx
  src/components/task-definitions/TaskDefinitionDetail.tsx
  src/components/task-definitions/TaskDefinitionForm.tsx
  src/components/task-definitions/TaskDefinitionLibraryModal.tsx
  src/components/task-definitions/TaskDefinitionList.tsx
  src/domains/task-template/services/TaskTemplateService.ts
  src/domains/task-template/types/task-template-types.ts
  src/types/database.ts
  supabase/migrations/20251019150000_add_source_definition_to_template_items.sql
  tests/integration/task-definitions/crud.int.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix(task-definition): include tenant_id and created_by in repository insert
  src/app/api/task-definitions/route.ts
  src/domains/task-definition/repositories/TaskDefinitionRepository.ts
  src/domains/task-definition/services/TaskDefinitionService.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(planning): complete Phase 0-2 for task-item association feature
  specs/015-task-item-association/contracts/template-item-associations-api.yaml
  specs/015-task-item-association/contracts/workflow-task-item-associations-api.yaml
  specs/015-task-item-association/data-model.md
  specs/015-task-item-association/plan.md
  specs/015-task-item-association/quickstart.md
  specs/015-task-item-association/research.md
  specs/015-task-item-association/spec.md
Due: none

feat(tasks): generate 47 implementation tasks for task-item association
  specs/015-task-item-association/tasks.md
Due: none

feat(associations): implement database migration and repository layer
  src/domains/task-template/repositories/TaskTemplateItemAssociationRepository.ts
  src/domains/task-template/types/task-template-association-types.ts
  src/domains/workflow-task/repositories/WorkflowTaskItemAssociationRepository.ts
  src/domains/workflow-task/types/workflow-task-association-types.ts
  supabase/migrations/20251019160000_add_task_item_associations.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs(associations): add implementation progress summary
  specs/015-task-item-association/PROGRESS.md
Due: none

feat(associations): implement service layer with business rules
  src/domains/task-template/services/TaskTemplateService.ts
  src/domains/workflow-task/services/WorkflowTaskService.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs(associations): update progress - Phase 3.4 complete
  specs/015-task-item-association/PROGRESS.md
Due: none

feat(associations): implement API routes for task-item associations
  src/app/api/jobs/[jobId]/tasks/[taskId]/associations/[associationId]/load/route.ts
  src/app/api/jobs/[jobId]/tasks/[taskId]/associations/[associationId]/route.ts
  src/app/api/jobs/[jobId]/tasks/[taskId]/associations/route.ts
  src/app/api/task-templates/[templateId]/items/[itemId]/associations/[associationId]/route.ts
  src/app/api/task-templates/[templateId]/items/[itemId]/associations/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs(associations): update progress - Phase 3.5 complete
  specs/015-task-item-association/PROGRESS.md
Due: none

refactor(tasks): complete service factory wiring - phase 2
  PHASE_1_COMPLETE.md
  PHASE_2_COMPLETE.md
  REFACTOR_NEXT_STEPS.md
  REFACTOR_STATUS.md
  docs/database/LIVE_SCHEMA_SNAPSHOT.md
  src/app/api/jobs/[jobId]/tasks/[taskId]/associations/[associationId]/load/route.ts
  src/app/api/jobs/[jobId]/tasks/[taskId]/associations/[associationId]/route.ts
  src/app/api/jobs/[jobId]/tasks/[taskId]/associations/route.ts
  src/app/api/jobs/[jobId]/tasks/[taskId]/route.ts
  src/app/api/jobs/[jobId]/tasks/route.ts
  src/app/api/supervisor/jobs/route.ts
  src/app/api/task-templates/[id]/image/route.ts
  src/app/api/task-templates/[id]/instantiate/route.ts
  src/app/api/task-templates/[templateId]/items/[itemId]/associations/route.ts
  src/app/api/task-templates/route.ts
  src/app/api/workflow-tasks/[id]/image/route.ts
  src/domains/jobs/services/job-bom-sync.service.ts
  src/domains/workflows/repositories/job-task.repository.ts
  tests/integration/task-templates/image-upload.int.test.ts
  tests/integration/workflow-tasks/image-upload.int.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(tasks): implement dual-write BOM sync - phase 3
  PHASE_3_COMPLETE.md
  src/domains/jobs/services/job-bom-sync.service.ts
  src/domains/task-template/services/TaskTemplateService.ts
  src/domains/workflow-task/repositories/WorkflowTaskItemAssociationRepository.ts
  src/domains/workflow-task/types/workflow-task-association-types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs(tasks): Phase 4 - replace job_tasks with workflow_tasks
  .claude/SKELETON_GUIDE.md
  docs/FEATURE_005_SCOPE.md
  docs/FEATURE_GAP_ANALYSIS_2025-09-30.md
  specs/005-field-intelligence-safety/plan.md
  specs/005-field-intelligence-safety/tasks.md
Due: none

refactor: remove job_checklist_items legacy system - part 1
  src/app/api/jobs/[jobId]/load-list/route.ts
  src/domains/job/repositories/job-checklist-repository.ts
  src/domains/job/services/checklist-verification-service.ts
  src/domains/job/services/job-load-list-service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

refactor: replace job_checklist_items with item_transactions - part 2
  src/app/api/supervisor/jobs/[jobId]/items/route.ts
  src/app/api/supervisor/jobs/[jobId]/route.ts
  src/app/api/supervisor/jobs/route.ts
  src/app/api/vision/load-verifications/route.ts
  src/domains/vision/services/load-verification-reconciler.ts
  src/domains/vision/services/load-verification-telemetry.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: add migration to drop job_checklist_items table
  supabase/migrations/20251019_drop_job_checklist_items.sql
Due: none
