Repository etzlertech/jobeye: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "bash -c 'tsc --noEmit -p tsconfig.json'",
    "eslint --fix --max-warnings 0"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings 0"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'"
  ]
}

feat: implement workstream 2 repository consolidation
  container-repository-analysis.md
  docs/unified-inventory-schema-design.md
  scripts/analyze-inventory-schema.ts
  scripts/apply-unified-inventory-migration.ts
  scripts/count-actual-tables.ts
  scripts/fix-unified-inventory-policies.ts
  src/domains/equipment/repositories/container-repository-enhanced.ts
  src/domains/inventory/adapters/container-repository-adapter.ts
  src/domains/inventory/repositories/container-assignments.repository.ts
  src/domains/inventory/services/check-in.service.ts
  src/domains/inventory/services/check-out.service.ts
  src/domains/inventory/services/container-management.service.ts
  src/domains/inventory/services/transfer.service.ts
  supabase-analysis/mapping-reports/archive/2025-10-03T17-16-06/db-code-mapping.yaml
  supabase-analysis/mapping-reports/archive/2025-10-03T17-16-06/mapping-report.md
  supabase-analysis/mapping-reports/archive/2025-10-03T17-16-06/unused-tables.yaml
  supabase-analysis/reports/archive/2025-10-03T17-14-01-414Z/action-plan.md
  supabase-analysis/reports/archive/2025-10-03T17-14-01-414Z/database-analysis.yaml
  supabase-analysis/reports/archive/2025-10-03T17-14-01-414Z/enhanced-analysis.yaml
  supabase-analysis/reports/archive/2025-10-03T17-14-01-414Z/enhanced-report.md
  supabase-analysis/reports/archive/2025-10-03T17-14-01-414Z/full-report.md
  supabase-analysis/reports/archive/2025-10-03T17-14-01-414Z/performance-report.md
  supabase-analysis/reports/archive/2025-10-03T17-14-01-414Z/security-report.md
  supabase-analysis/reports/archive/2025-10-03T17-14-01-414Z/storage-analysis.yaml
  supabase-analysis/reports/archive/2025-10-03T17-14-17/action-plan.md
  supabase-analysis/reports/archive/2025-10-03T17-14-17/database-analysis.yaml
  supabase-analysis/reports/archive/2025-10-03T17-14-17/enhanced-analysis.yaml
  supabase-analysis/reports/archive/2025-10-03T17-14-17/enhanced-report.md
  supabase-analysis/reports/archive/2025-10-03T17-14-17/full-report.md
  supabase-analysis/reports/archive/2025-10-03T17-14-17/performance-report.md
  supabase-analysis/reports/archive/2025-10-03T17-14-17/security-report.md
  supabase-analysis/reports/archive/2025-10-03T17-14-17/storage-analysis.yaml
  supabase-analysis/scripts/compare-tables.ts
  supabase-analysis/scripts/db-analyzer-live-fixed.ts
  supabase/migrations/20251003_create_unified_inventory_schema.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: database analyzer now dynamically discovers actual tables
  supabase-analysis/scripts/analyze-supabase-enhanced.ts
  supabase-analysis/scripts/analyze-supabase-live.ts
  supabase-analysis/scripts/db-analyzer-enhanced-fixed.ts
  supabase-analysis/scripts/db-analyzer-live-fixed.ts
  supabase-analysis/scripts/report-generator-fixed.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

feat: complete workstream 2 - unified inventory model
  scripts/apply-unified-inventory-migration.ts
  scripts/check-unified-tables.ts
  scripts/quick-schema-check.ts
  scripts/verify-unified-schema.ts
  scripts/verify-unified-tables.ts
  src/domains/shared/repositories/item-transaction.repository.ts
  src/domains/shared/repositories/item.repository.ts
  src/domains/shared/services/unified-inventory.service.ts
  src/domains/shared/types/item-types.ts
  supabase-analysis/reports/archive/2025-10-03T20-55-01-422Z/action-plan.md
  supabase-analysis/reports/archive/2025-10-03T20-55-01-422Z/database-analysis.yaml
  supabase-analysis/reports/archive/2025-10-03T20-55-01-422Z/enhanced-analysis.yaml
  supabase-analysis/reports/archive/2025-10-03T20-55-01-422Z/enhanced-report.md
  supabase-analysis/reports/archive/2025-10-03T20-55-01-422Z/full-report.md
  supabase-analysis/reports/archive/2025-10-03T20-55-01-422Z/performance-report.md
  supabase-analysis/reports/archive/2025-10-03T20-55-01-422Z/security-report.md
  supabase-analysis/reports/archive/2025-10-03T20-55-01-422Z/storage-analysis.yaml
  supabase-analysis/reports/latest/full-report.md
  supabase-analysis/reports/latest/storage-analysis.yaml
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: convert vision repositories to class-based pattern
  src/domains/vision/repositories/cost-record.repository.class.ts
  src/domains/vision/repositories/detected-item.repository.class.ts
  src/domains/vision/repositories/vision-verification.repository.class.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: complete Feature 009 codebase cleanup and refactoring
  .aac/dependency-graph.dot
  .husky/pre-commit
  CLAUDE.md
  docs/009-cleanup-summary.md
  package.json
  scripts/analyze-migration-sequence.ts
  scripts/ci/fast-pre-commit.ts
  scripts/ci/verify-cleanup.ts
  scripts/cleanup-duplicate-migrations.ts
  scripts/diagnose-repo-conversion.ts
  scripts/test-class-repositories.ts
  scripts/verify-repo-tables.ts
  src/app/api/vision/verifications/[id]/route.ts
  src/app/api/vision/verifications/route.ts
  src/domains/inventory/repositories/purchase-receipts.repository.class.ts
  src/domains/inventory/repositories/training-data.repository.class.ts
  src/domains/inventory/services/receipt-processing.service.ts
  src/domains/inventory/services/training-data.service.ts
  src/domains/vision/services/cost-tracking.service.ts
  src/domains/vision/services/vision-verification.service.ts
  supabase/migrations/archive/050_inventory_vision_extend_duplicate_containers.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: comprehensive database analysis with full table details
  docs/live-database-analysis.md
  scripts/create-db-info-functions.ts
  scripts/fix-db-info-functions.ts
  scripts/pre-frontend-cleanup.ts
  scripts/test-db-functions.ts
  supabase-analysis/comprehensive-reports/2025-10-03T22-32-56-181Z/comprehensive-analysis.json
  supabase-analysis/comprehensive-reports/2025-10-03T22-32-56-181Z/comprehensive-database-report.md
  supabase-analysis/comprehensive-reports/2025-10-03T22-34-58-506Z/comprehensive-analysis.json
  supabase-analysis/comprehensive-reports/2025-10-03T22-34-58-506Z/comprehensive-database-report.md
  supabase-analysis/scripts/analyze-comprehensive.ts
  supabase-analysis/scripts/analyze-detailed.ts
  supabase-analysis/scripts/db-analyzer-comprehensive.ts
  supabase-analysis/scripts/db-analyzer-detailed.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

100425 656a
  .husky/pre-commit
  CLAUDE.md
  docs/ui-ready-features.md
  run-cleanup.js
  scripts/apply-orphaned-tables-cleanup.ts
  scripts/check-customers-table.js
  scripts/check-customers-table.ts
  scripts/check-db-tables.js
  scripts/cleanup-orphaned-tables.js
  scripts/complete-cleanup.ts
  scripts/direct-table-cleanup.ts
  scripts/fix-customers-rls-demo.js
  scripts/fix-customers-rls-demo.ts
  scripts/fix-customers-rls.js
  src/app/page.tsx
  src/app/supervisor/customers/page.tsx
  supabase/migrations/060_remove_orphaned_tables.sql
  temp-scripts/apply-orphaned-tables-cleanup.js
  tsconfig.scripts.json
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: add RLS policy fix script for demo customer creation
  scripts/fix-rls-simple.py
Due: none

docs: add critical operations guide with sanitized credentials
  CLAUDE.md
  CRITICAL_OPERATIONS.md
Due: none

fix: add working Python railway monitor and update docs
  CRITICAL_OPERATIONS.md
  scripts/railway-monitor.py
Due: none

docs: update CRITICAL_OPERATIONS after fixing node_modules
  CRITICAL_OPERATIONS.md
Due: none

chore: document restoration plan and adjust cleanup tests
  .husky/pre-commit
  MEMORY.md
  docs/auth-routing.md
  docs/service-restoration-plan.md
  package-lock.json
  package.json
  scripts/ci/fast-pre-commit.ts
  scripts/dev/seed-test-users.ts
  scripts/fix-customers-rls-curl.sh
  scripts/fix-customers-rls-direct.js
  scripts/fix-customers-rls.py
  scripts/test-supabase-connection.py
  src/__tests__/auth/route-access.test.ts
  src/__tests__/cleanup/api/migration-execute.test.ts
  src/__tests__/cleanup/api/migration-status.test.ts
  src/__tests__/cleanup/api/orphaned-tables.test.ts
  src/__tests__/cleanup/api/pattern-scan.test.ts
  src/__tests__/cleanup/api/pattern-violations.test.ts
  src/__tests__/cleanup/api/schema-verify.test.ts
  src/__tests__/cleanup/integration/eslint-rules.test.ts
  src/__tests__/cleanup/integration/tenant-migration.test.ts
  src/__tests__/cleanup/integration/zero-downtime.test.ts
  src/app/api/cleanup/migration/status/route.ts
  src/components/navigation/MobileNavigation.tsx
  src/domains/cleanup-tracking/repositories/migration-tracking.repository.ts
  src/domains/field-intelligence/services/intake-conversions.service.ts
  src/domains/field-intelligence/services/intake-duplicate-matching.service.ts
  src/domains/field-intelligence/services/routing-analytics.service.ts
  src/domains/field-intelligence/services/routing-progress.service.ts
  src/domains/field-intelligence/services/time-auto-clockout.service.ts
  src/lib/auth/route-access.ts
  src/middleware.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(field-intelligence): restore intake analytics and ocr stubs
  docs/service-restoration-plan.md
  src/domains/field-intelligence/services/intake-analytics.service.ts
  src/domains/field-intelligence/services/intake-ocr.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(field-intelligence): restore routing geofencing stub
  docs/service-restoration-plan.md
  src/domains/field-intelligence/services/routing-geofencing.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(field-intelligence): restore routing gps tracking stub
  docs/service-restoration-plan.md
  src/domains/field-intelligence/services/routing-gps-tracking.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(field-intelligence): restore routing progress stub
  src/domains/field-intelligence/services/routing-progress.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs: log routing progress restoration
  docs/service-restoration-plan.md
Due: none

feat: restore service pipelines
  docs/service-restoration-plan-phases-b-e.md
  docs/service-restoration-plan.md
  src/__tests__/intake/business-card-ocr.service.test.ts
  src/__tests__/intake/integration/business-card-ocr.integration.test.ts
  src/__tests__/job-workflows/arrival-workflow.service.test.ts
  src/__tests__/job-workflows/integration/arrival-workflow.integration.test.ts
  src/__tests__/safety/integration/safety-verification.integration.test.ts
  src/__tests__/safety/safety-verification.service.test.ts
  src/__tests__/time-tracking/integration/time-tracking.integration.test.ts
  src/__tests__/time-tracking/time-tracking.service.test.ts
  src/domains/intake/services/business-card-ocr.factory.ts
  src/domains/intake/services/business-card-ocr.helpers.ts
  src/domains/intake/services/business-card-ocr.service.ts
  src/domains/intake/services/business-card-ocr.tesseract.ts
  src/domains/intake/services/business-card-ocr.types.ts
  src/domains/intake/services/business-card-ocr.vision.ts
  src/domains/job-workflows/services/arrival-workflow.factory.ts
  src/domains/job-workflows/services/arrival-workflow.service.ts
  src/domains/job-workflows/services/arrival-workflow.types.ts
  src/domains/safety/services/safety-verification.factory.ts
  src/domains/safety/services/safety-verification.helpers.ts
  src/domains/safety/services/safety-verification.service.ts
  src/domains/safety/services/safety-verification.types.ts
  src/domains/time-tracking/services/time-tracking.factory.ts
  src/domains/time-tracking/services/time-tracking.helpers.ts
  src/domains/time-tracking/services/time-tracking.service.ts
  src/domains/time-tracking/services/time-tracking.types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: wire api to restored services
  docs/service-restoration-plan-phases-b-e.md
  src/app/api/field-intelligence/time/clock/route.ts
  src/app/api/field-intelligence/workflows/arrivals/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: persist safety verification records
  docs/service-restoration-plan-phases-b-e.md
  src/domains/safety/repositories/safety-verification.repository.ts
  src/domains/safety/services/safety-verification.factory.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: realign voice and vision integrations
  TODO.md
  src/__tests__/mocks/yolo-inference.mock.ts
  src/components/accessibility/accessibility-preferences.tsx
  src/components/auth/SignInForm.tsx
  src/components/providers/pwa-provider.tsx
  src/components/ui/ItemChecklist.tsx
  src/components/ui/JobCard.tsx
  src/contexts/VoiceProvider.tsx
  src/core/errors/error-handler.ts
  src/core/errors/error-types.ts
  src/domains/vision/__tests__/vision-verification.service.remote.test.ts
  src/domains/vision/__tests__/yolo-remote-client.test.ts
  src/domains/vision/services/vision-verification.service.ts
  src/domains/vision/services/yolo-remote-client.ts
  src/domains/vision/utils/image-data.ts
  src/lib/accessibility/voice-navigation.ts
  src/lib/voice/voice-processor.ts
  src/types/voice-events.d.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: stabilize cleanup plugin and safety suites
  docs/ENVIRONMENT_VARIABLES.md
  docs/service-restoration-plan-phases-b-e.md
  docs/service-restoration-plan.md
  packages/eslint-plugin-cleanup/index.js
  packages/eslint-plugin-cleanup/rules/no-company-id.js
  packages/eslint-plugin-cleanup/rules/repository-class-pattern.js
  src/__tests__/cleanup/integration/eslint-rules.test.ts
  src/__tests__/components/auth/SignInForm.test.tsx
  src/__tests__/core/events/event-bus.test.ts
  src/__tests__/domains/customer/services/customer-offline-sync.test.ts
  src/__tests__/safety/safety-verification.factory.test.ts
  src/app/api/field-intelligence/workflows/arrivals/route.ts
  src/domains/customer/types/customer-types.ts
  src/domains/job-workflows/services/arrival-workflow.factory.ts
  src/domains/safety/services/safety-verification.factory.ts
  tsconfig.json
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

﻿fix(supabase): align contact schema with customer domain
  src/domains/auth/utils/auth-helpers.ts
  src/domains/auth/utils/auth-validators.ts
  src/domains/cleanup-tracking/repositories/pattern-violations.repository.ts
  src/domains/cleanup-tracking/repositories/repository-inventory.repository.ts
  src/domains/crew/services/crew-workflow.service.ts
  src/domains/customer/repositories/contact-repository.ts
  src/domains/customer/services/customer-offline-sync.ts
  src/domains/customer/types/customer-types.ts
  src/domains/intent/services/ai-interaction-logger.service.ts
  src/lib/offline/offline-db.ts
  src/lib/repositories/base.repository.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
  src/lib/supabase/types.ts
  src/types/database.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(vision): align repositories with typed Supabase client
  src/domains/vision/repositories/cost-record.repository.class.ts
  src/domains/vision/repositories/cost-record.repository.ts
  src/domains/vision/repositories/detected-item.repository.class.ts
  src/domains/vision/repositories/detected-item.repository.ts
  src/domains/vision/repositories/vision-verification.repository.class.ts
  src/domains/vision/repositories/vision-verification.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(vision): unify detection metadata contract
  src/__tests__/mocks/openai-vision.mock.ts
  src/__tests__/mocks/yolo-inference.mock.ts
  src/domains/vision/__tests__/helpers/test-setup.ts
  src/domains/vision/__tests__/vision-verification.service.remote.test.ts
  src/domains/vision/__tests__/yolo-remote-client.test.ts
  src/domains/vision/lib/openai-vision-adapter.ts
  src/domains/vision/lib/vision-types.ts
  src/domains/vision/lib/vlm-fallback-router.ts
  src/domains/vision/lib/yolo-inference.ts
  src/domains/vision/repositories/vision-verification.repository.class.ts
  src/domains/vision/services/vision-verification.service.ts
  src/domains/vision/services/yolo-remote-client.ts
  src/lib/supabase/types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore: align scheduling kit migrations with tenant tenancy
  TODO.md
  reports/db-precheck-ocr.txt
  reports/live-tenancy-scan-2025-10-09.txt
  reports/live-tenancy-scan-2025-10-09b.txt
  reports/tenant-alignment-plan-2025-10-09.md
  scripts/ocr-preflight-check.ts
  scripts/tenant-align-2025-10-09.ts
  supabase/migrations/035_003_scheduling_kits.sql
  supabase/migrations/036_ensure_kit_uniques.sql
  supabase/migrations/037_scheduling_core_tables.sql
  supabase/migrations/038_kit_override_notification_trigger.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

fix(scheduling): add day plan pagination and service-role tests
  src/__tests__/helpers/test-db-setup.ts
  src/__tests__/scheduling/contract/day-plans-get.test.ts
  src/app/api/scheduling/day-plans/route.ts
  src/scheduling/repositories/day-plan.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore: add supabase CLI config and update package-lock
  package-lock.json
  supabase/.gitignore
  supabase/config.toml
  supabase/seed.sql
Due: none

fix(vision): swap remote yolo buffer import
  src/domains/vision/services/yolo-remote-client.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(demo): swap quick demo flow for tophand accounts
  DEMO_USERS.md
  scripts/check-demo-user-railway.ts
  scripts/create-demo-data.ts
  scripts/create-demo-jobs.ts
  scripts/create-demo-users.ts
  scripts/create-railway-demo-users.ts
  scripts/create-ui-demo-customer.ts
  scripts/fix-demo-tenant-uuid.ts
  scripts/fix-demo-user-metadata.ts
  scripts/prove-live-crud.ts
  scripts/setup-demo-tenant.ts
  scripts/test-demo-users.ts
  scripts/test-railway-auth.ts
  scripts/use-existing-tenant.ts
  src/app/(auth)/sign-in/page.tsx
  src/app/simple-signin/page.tsx
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix(pwa): align manifest assets and tenant headers
  public/icon-192.png
  public/icon-512.png
  public/icons/icon-192x192.png
  public/icons/icon-512x512.png
  public/manifest.json
  src/middleware.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix(auth): prioritize real sessions over demo cookies
  src/app/(auth)/sign-in/page.tsx
  src/app/simple-signin/page.tsx
  src/middleware.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

refactor(auth): remove legacy demo mode paths
  docs/auth-routing.md
  src/app/api/crew/dashboard/stats/route.ts
  src/app/api/crew/jobs/[jobId]/equipment/route.ts
  src/app/api/crew/jobs/[jobId]/verify-load/route.ts
  src/app/api/crew/jobs/today/route.ts
  src/app/api/crew/status/route.ts
  src/app/api/demo/auth/route.ts
  src/app/api/supervisor/customers/route.ts
  src/app/api/supervisor/inventory/route.ts
  src/app/api/supervisor/properties/[id]/route.ts
  src/app/api/supervisor/properties/route.ts
  src/app/crew/job-load/page.tsx
  src/app/supervisor/customers/page.tsx
  src/app/supervisor/inventory/page.tsx
  src/middleware.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test(e2e): add playwright browserless config and supervisor login
  playwright.browserless.config.ts
  tests/e2e/supervisor-login.spec.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

refactor: simplify routing - make root page show sign-in directly
  src/app/(auth)/sign-in/page.tsx
  src/app/auth/sign-in/page.tsx
  src/app/demo-hub/page.tsx
  src/app/page.tsx
  src/components/auth/SignInForm.tsx
  src/lib/auth/role-routing.ts
  tests/e2e/root-sign-in-flow.spec.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: enforce real session in API auth wrapper
  src/lib/auth/with-auth.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: show signed-in user on supervisor dashboard header
  src/app/supervisor/page.tsx
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix(auth): sync supabase session and supervisor feed
  src/__tests__/auth/api/auth-callback.test.ts
  src/__tests__/supervisor/api/jobs-today.test.ts
  src/app/(auth)/sign-in/page.tsx
  src/app/api/supervisor/jobs/today/route.ts
  src/app/auth/callback/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: modernize mobile UI with shadcn/ui and design system
  components.json
  package-lock.json
  package.json
  playwright-report/data/68fd68f831aed1d0e4b42cec648c473053911546.zip
  playwright-report/index.html
  playwright-report/trace/assets/codeMirrorModule-eyVcHN77.js
  playwright-report/trace/assets/defaultSettingsView-w0zYjHsW.js
  playwright-report/trace/codeMirrorModule.C3UTv-Ge.css
  playwright-report/trace/codicon.DCmgc-ay.ttf
  playwright-report/trace/defaultSettingsView.TQ8_7ybu.css
  playwright-report/trace/index.Bx16ehp1.js
  playwright-report/trace/index.I8N9v4jT.css
  playwright-report/trace/index.html
  playwright-report/trace/playwright-logo.svg
  playwright-report/trace/snapshot.html
  playwright-report/trace/sw.bundle.js
  playwright-report/trace/uiMode.Btcz36p_.css
  playwright-report/trace/uiMode.DRQ310U5.js
  playwright-report/trace/uiMode.html
  playwright-report/trace/xtermModule.DYP7pi_n.css
  playwright.browserless.config.ts
  src/app/(auth)/sign-in/page.tsx
  src/app/globals.css
  src/components/mobile/index.ts
  src/components/mobile/mobile-card.tsx
  src/components/mobile/mobile-container.tsx
  src/components/mobile/mobile-fab.tsx
  src/components/mobile/mobile-header.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/separator.tsx
  src/domains/supervisor/services/supervisor-workflow.service.ts
  src/lib/utils.ts
  test-results/.last-run.json
  test-results/root-sign-in-flow-root-rou-4112a-ects-supervisor-after-login-chromium/trace.zip
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'
