Repository etzlertech/jobeye: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore: complete pre-commit testing setup
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

fix: correct tenant name access in register route
  src/app/api/auth/register/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: correct ErrorContext usage in event-bus
  scripts/fix-all-ts-errors.ts
  scripts/list-all-ts-errors.sh
  src/core/events/event-bus.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

build: temporarily disable TypeScript checks during build
  .dockerignore
  next.config.js
  package.json
  tsconfig.build.json
Due: eslint --fix --max-warnings 0

build: add proper Next.js build testing to match Railway
  .husky/pre-commit
  package.json
  scripts/compare-type-checking.sh
  scripts/test-like-railway.sh
Due: none

fix: configure Railway deployment for proper serving
  Dockerfile
  public/test.txt
  railway.json
  server.js
  src/app/api/health/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: simplify Railway deployment to resolve 404 errors
  Dockerfile
  Dockerfile.standalone
  next.config.js
  package.json
  server.js
Due: eslint --fix --max-warnings 0

feat: implement equipment and material domain infrastructure
  src/domains/equipment/repositories/equipment-repository.ts
  src/domains/equipment/services/equipment-service.ts
  src/domains/equipment/types/equipment-types.ts
  src/domains/material/repositories/material-repository.ts
  src/domains/material/services/material-service.ts
  src/domains/material/types/material-types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: implement voice pipeline and vision domain foundations
  TEST_STATUS_REPORT.md
  src/__tests__/domains/job/repositories/job-repository.test.ts
  src/__tests__/domains/job/services/job-service.test.ts
  src/domains/irrigation/types/irrigation-types.ts
  src/domains/job/repositories/job-repository.ts
  src/domains/job/services/job-service.ts
  src/domains/vision/types/vision-types.ts
  src/domains/voice/services/intent-recognition-service.ts
  src/domains/voice/services/speech-to-text-service.ts
  src/domains/voice/services/text-to-speech-service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: implement multi-object vision system for load verification
  IMPLEMENTATION_SUMMARY.md
  MULTI_OBJECT_VISION_TEST_REPORT.md
  docs/blueprints/v4-vision-multi-object-extension.md
  src/__tests__/domains/equipment/services/container-service.test.ts
  src/__tests__/domains/vision/services/multi-object-vision-service.test.ts
  src/domains/equipment/repositories/container-repository.ts
  src/domains/equipment/services/container-service.ts
  src/domains/equipment/types/container-types.ts
  src/domains/vision/services/multi-object-vision-service.ts
  src/domains/vision/services/vision-analysis-service.ts
  src/domains/vision/types/vision-context-types.ts
  supabase/migrations/005_v4_multi_object_vision_extension.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: implement continuous vision verification system
  CONTINUOUS_VISION_SUMMARY.md
  docs/blueprints/v4-continuous-vision-verification.md
  src/__tests__/domains/vision/services/continuous-vision-verification.test.ts
  src/domains/vision/services/continuous-vision-verification-service.ts
  src/domains/vision/types/continuous-vision-types.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs: add agent guide and MVP decision record
  AGENTS.md
  docs/MULTI_OBJECT_MVP_DECISION_2025-09-28.md
Due: none

snapshot: code produced by Claude (PWA + services + hybrid vision touchpoints)
  public/manifest.json
  public/service-worker.js
  src/app/api/containers/route.ts
  src/app/api/inventory/images/route.ts
  src/app/api/inventory/images/upload-url/route.ts
  src/app/api/inventory/items/[itemId]/route.ts
  src/app/api/inventory/items/route.ts
  src/app/api/jobs/[jobId]/load-list/route.ts
  src/app/api/jobs/[jobId]/verify-checklist/route.ts
  src/app/api/jobs/from-voice/route.ts
  src/app/api/sync/offline-operations/route.ts
  src/app/api/vision/load-verifications/route.ts
  src/app/control-tower/inventory/page.tsx
  src/app/jobs/[jobId]/load-capture/page.tsx
  src/app/layout.tsx
  src/app/offline/page.tsx
  src/components/providers/pwa-provider.tsx
  src/components/shared/offline-indicator.tsx
  src/core/config/environment.ts
  src/domains/inventory/repositories/inventory-image-repository.ts
  src/domains/inventory/services/inventory-intake-service.ts
  src/domains/inventory/types/inventory-types.ts
  src/domains/job/repositories/job-checklist-repository.ts
  src/domains/job/services/checklist-verification-service.ts
  src/domains/job/services/job-from-voice-service.ts
  src/domains/job/services/job-load-list-service.ts
  src/domains/vision/repositories/load-verification-repository.ts
  src/domains/vision/services/load-verification-reconciler.ts
  src/domains/vision/services/load-verification-telemetry.ts
  src/domains/vision/services/multi-object-vision-service.ts
  src/domains/vision/types/load-verification-types.ts
  src/lib/supabase/service-client.ts
  supabase/migrations/006_load_verification_media_nullable.sql
  supabase/migrations/007_job_checklist_auto_override.sql
  supabase/migrations/008_inventory_image_enhancements.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(spec): bootstrap Spec Kit scaffolding
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

feat: data-001 company_settings schema with RLS
  src/__tests__/lib/repositories/company-settings.repository.test.ts
  src/domains/company/types/company-settings.ts
  src/lib/repositories/company-settings.repository.ts
  src/lib/supabase/types.ts
  src/types/supabase.ts
  supabase/migrations/009_company_settings.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore: unblock company_settings RLS: exec_sql + companies stub/cols (guarded)
  src/types/supabase.ts
  supabase/migrations/010_test_exec_sql_rpc.sql
  supabase/migrations/011_min_companies_stub.sql
  supabase/migrations/012_add_companies_domain.sql
  supabase/migrations/013_add_companies_is_active.sql
  supabase/migrations/014_adjust_company_ids_to_text.sql
  supabase/migrations/015_relax_companies_tenant_id.sql
  supabase/migrations/016_add_customers_company_id.sql
  supabase/migrations/017_add_customers_version.sql
  supabase/migrations/018_adjust_customer_ids_to_text.sql
  supabase/migrations/019_relax_customers_tenant_id.sql
  supabase/migrations/020_create_voice_sessions_stub.sql
  supabase/migrations/021_add_media_assets_company_id.sql
  supabase/migrations/022_extend_media_assets_for_tests.sql
  supabase/migrations/023_to_uuid_helper.sql
  supabase/migrations/024_relax_media_assets_tenant_id.sql
  supabase/migrations/025_relax_media_assets_uploaded_by.sql
  supabase/migrations/026_relax_media_assets_media_type.sql
  supabase/migrations/027_relax_media_assets_file_name.sql
  test/rls/seed-multi-tenant.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore: tighten companies RLS policy
  supabase/migrations/028_companies_rls.sql
Due: none

chore: tighten RLS policies for tenant isolation
  scripts/ci/rls-test-harness.ts
  supabase/migrations/029_rls_tighten_customers_media_voice.sql
  supabase/migrations/030_remove_legacy_rls_policies.sql
  supabase/migrations/031_remove_voice_sessions_allow_all.sql
  supabase/migrations/032_update_rls_claim_lookup.sql
  supabase/migrations/033_update_companies_policy.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

chore(rls): freeze harness to tenant-auth; add seed→verify→cleanup flow; lint policies
  package.json
  scripts/ci/rls-lint.ts
  scripts/ci/rls-test-harness.ts
  supabase/.temp/verify_rls.mjs
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

ops: ocr-028 preflight check (ACTUAL DB read-only)
  .github/workflows/pull-request.yml
  docs/ocr-migration-checklist.md
  package.json
  scripts/check-actual-db.ts
  scripts/ocr-preflight-check.ts
  src/__tests__/scripts/ocr-preflight-check.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(ocr): add OCR/Accounts tables with strict tenant RLS + preflight pass
  reports/db-precheck-ocr.txt
  scripts/check-actual-db.ts
  scripts/ocr-preflight-check.ts
  src/__tests__/scripts/ocr-preflight-check.test.ts
  src/types/supabase.ts
  supabase/migrations/040_ocr_domain.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

chore(ocr): add e2e scripts and migration guardrails
  docs/ocr-migration-checklist.md
  package.json
  scripts/ci/check-migrations.ts
  scripts/ci/rls-lint.ts
  scripts/ocr-seed.mjs
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

feat: improve CODEX agent efficiency with clear execution instructions
  .claude/commands/analyze.md
  .claude/commands/check-003-status.md
  .claude/commands/clarify.md
  .claude/commands/codex-file-template.md
  .claude/commands/codex-init.md
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/start-003.md
  .claude/commands/tasks.md
  AGENTS.md
Due: none

docs: establish main-only workflow for single developer
  .claude/commands/workflow-main-only.md
  AGENTS.md
Due: none

test: add failing contract tests for scheduling core (TDD)
  package-lock.json
  package.json
  src/__tests__/scheduling/contract/day-plans-get.test.ts
  src/__tests__/scheduling/contract/day-plans-post.test.ts
  src/__tests__/scheduling/contract/kit-override.test.ts
  src/__tests__/scheduling/contract/kit-verify.test.ts
  src/__tests__/scheduling/contract/kits-post.test.ts
  src/__tests__/scheduling/contract/optimize-route.test.ts
  src/__tests__/scheduling/contract/schedule-events-post.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test: add failing integration tests for scheduling features (TDD)
  src/__tests__/scheduling/integration/break-warning.test.ts
  src/__tests__/scheduling/integration/day-plan-flow.test.ts
  src/__tests__/scheduling/integration/job-limit-enforcement.test.ts
  src/__tests__/scheduling/integration/kit-loading.test.ts
  src/__tests__/scheduling/integration/kit-override-flow.test.ts
  src/__tests__/scheduling/integration/offline-sync.test.ts
  src/__tests__/scheduling/integration/voice-scheduling.test.ts
  src/__tests__/scheduling/rls/tenant-isolation.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: add scheduling core database migrations
  supabase/migrations/037_scheduling_core_tables.sql
  supabase/migrations/038_kit_override_notification_trigger.sql
Due: none

feat: add TypeScript types for scheduling tables
  src/types/supabase.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: add scheduling repositories (day-plan, schedule-event, crew)
  src/scheduling/repositories/crew-assignment.repository.ts
  src/scheduling/repositories/day-plan.repository.ts
  src/scheduling/repositories/schedule-event.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: add kit-related repositories
  src/scheduling/repositories/job-kit.repository.ts
  src/scheduling/repositories/kit-override-log.repository.ts
  src/scheduling/repositories/kit.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: complete repository layer with kit-item and kit-variant repos
  src/scheduling/repositories/kit-item.repository.ts
  src/scheduling/repositories/kit-variant.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: add day-plans API route with basic validation
  src/app/api/scheduling/day-plans/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: implement 003-scheduling-kits services and API routes
  package-lock.json
  scripts/apply-migrations-safely.ts
  scripts/apply-scheduling-migrations.ts
  src/app/api/kit-overrides/route.ts
  src/app/api/kits/route.ts
  src/app/api/scheduling/day-plans/route.ts
  src/app/api/scheduling/schedule-events/route.ts
  src/scheduling/services/day-plan-validation.service.ts
  src/scheduling/services/day-plan.service.ts
  src/scheduling/services/notification.service.ts
  src/scheduling/services/scheduling.service.ts
  supabase/migrations/035_003_scheduling_kits.sql
  supabase/migrations/037_scheduling_core_tables.sql
  supabase/migrations/038_kit_override_notification_trigger.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: implement scheduling API endpoints per task list
  package-lock.json
  src/app/api/jobs/[jobId]/kits/[kitId]/verify/route.ts
  src/app/api/kit-overrides/route.ts
  src/app/api/kits/route.ts
  src/app/api/scheduling-kits/[kitCode]/assign/route.ts
  src/app/api/scheduling/day-plans/[id]/optimize/route.ts
  src/app/api/scheduling/day-plans/route.ts
  src/app/api/scheduling/schedule-events/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: implement scheduling services, voice integration, and offline infrastructure
  package-lock.json
  package.json
  public/sw-scheduling.js
  src/scheduling/cache/distance-matrix.cache.ts
  src/scheduling/config/labor-rules.ts
  src/scheduling/offline/conflict-resolver.ts
  src/scheduling/offline/register-sw.ts
  src/scheduling/offline/scheduling-cache.ts
  src/scheduling/offline/sync-queue.ts
  src/scheduling/services/break-scheduler.service.ts
  src/scheduling/services/kit.service.ts
  src/scheduling/services/offline-travel.service.ts
  src/scheduling/services/route-optimization.service.ts
  src/scheduling/services/schedule-conflict.service.ts
  src/scheduling/services/schedule-notification.service.ts
  src/scheduling/services/travel-time.service.ts
  src/scheduling/voice/day-plan-queries.ts
  src/scheduling/voice/kit-management-intents.ts
  src/scheduling/voice/scheduling-intents.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test: add scheduling module tests and offline types
  package-lock.json
  package.json
  src/scheduling/offline/__tests__/conflict-resolver.test.ts
  src/scheduling/offline/conflict-resolver-simple.ts
  src/scheduling/offline/types/offline.types.ts
  src/scheduling/services/__tests__/route-optimization.integration.test.ts
  src/scheduling/services/__tests__/schedule-conflict.service.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

Path conditions:
  bash -c 'tsc --noEmit -p tsconfig.json': any of: *.{ts,tsx}
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
