Repository etzlertech/jobeye: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

test: comprehensive E2E test suite with bug fixes
  ADVANCED_E2E_BUG_REPORT.md
  TESTING_SESSION_NOTES.md
  TEST_RESULTS.md
  scripts/create-missing-tables.ts
  scripts/create-users-extended.ts
  scripts/create-uuid-fixtures.ts
  scripts/create-uuid-tenant.ts
  scripts/fix-double-booking.ts
  src/__tests__/e2e/advanced-workflows.e2e.test.ts
  src/__tests__/e2e/complete-workflows.e2e.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(database): apply missing vision tables and comprehensive codebase analysis
  CODEBASE_ANALYSIS_REPORT.md
  E2E_TEST_FINDINGS_REPORT.md
  MIGRATION_EXECUTION_REPORT.md
  MIGRATION_SUMMARY.md
  docs/FEATURE_005_SCOPE.md
  docs/FEATURE_GAP_ANALYSIS_2025-09-30.md
  scripts/analyze-db-structure.ts
  scripts/apply-vision-cost-records-fixed.ts
  scripts/apply-vision-migrations.ts
  scripts/check-full-db-schema.ts
  scripts/check-missing-tables.ts
  scripts/check-vision-verifications-schema.ts
  scripts/simple-table-list.ts
  scripts/test-all-e2e-after-migration.ts
  scripts/test-vision-tables-integration.ts
  scripts/verify-vision-tables.ts
  specs/005-field-intelligence-safety/plan.md
  specs/005-field-intelligence-safety/spec.md
  specs/005-field-intelligence-safety/tasks.md
  supabase/migrations/041_vision_cost_records.sql
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

refactor: consolidate duplicate container repositories
  CONTAINER_CONSOLIDATION_PLAN.md
  scripts/check-db-for-feature-005.ts
  src/domains/inventory/adapters/container-repository-adapter.ts
  src/domains/inventory/repositories/containers.repository.ts
  src/domains/inventory/services/container-management.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs: comprehensive tenancy model documentation
  TENANCY.md
  package-lock.json
  package.json
  scripts/analyze-tenancy-model.ts
  specs/005-field-intelligence-safety/DB_PRECHECK_RESULTS.md
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

feat(005): complete T001-T008 - DB precheck, dependencies, and comprehensive research
  scripts/check-dual-tenancy-columns.ts
  scripts/execute-tenant-id-migration.ts
  scripts/migrate-company-id-to-tenant-id.ts
  specs/005-field-intelligence-safety/research.md
  src/domains/equipment/repositories/container-repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: standardize database tenancy to tenant_id
  src/domains/equipment/repositories/container-repository.ts
  src/domains/inventory/repositories/inventory-items.repository.ts
  src/domains/inventory/repositories/inventory-transactions.repository.ts
  src/domains/inventory/repositories/purchase-receipts.repository.ts
  src/domains/inventory/repositories/training-data.repository.ts
  src/domains/repos/scheduling-kits/kit-assignment-repository.ts
  src/domains/repos/scheduling-kits/kit-repository.ts
  src/domains/repos/scheduling-kits/kit-variant-repository.ts
  src/domains/vision/repositories/cost-record.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs: consolidation progress report
  CONSOLIDATION_PROGRESS.md
  specs/005-field-intelligence-safety/data-model.md
Due: none

feat(005): complete T009-T010 - data model and API contracts
  specs/005-field-intelligence-safety/contracts/intake.openapi.yaml
  specs/005-field-intelligence-safety/contracts/routing.openapi.yaml
  specs/005-field-intelligence-safety/contracts/safety.openapi.yaml
  specs/005-field-intelligence-safety/contracts/time-tracking.openapi.yaml
  specs/005-field-intelligence-safety/contracts/workflows.openapi.yaml
Due: none

feat(005): execute T011-T030 database migrations
  database-analysis-raw.json
  live-database-inspection.json
  scripts/deep-database-analysis.ts
  scripts/inspect-live-database.ts
  scripts/migrations/005-all-tables.ts
  scripts/migrations/005-comprehensive-migration.ts
  scripts/verify-dual-columns.ts
  specs/005-field-intelligence-safety/IMPLEMENTATION_STATUS.md
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

feat(005): complete T031-T050 contract tests (TDD)
  codebase-audit-results.json
  scripts/comprehensive-codebase-audit.ts
  tests/contract/all-contracts.test.ts
  tests/contract/routing-create.contract.test.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

analysis: comprehensive post-consolidation deep dive
  DEEP_ANALYSIS_REPORT_2025-09-30.md
  scripts/generate-remaining-implementation.sh
  specs/005-field-intelligence-safety/PROGRESS_SUMMARY.md
  src/app/api/routing/arrival/route.ts
  src/app/api/routing/routes/route.ts
  src/domains/intake/services/business-card-ocr.service.ts
  src/domains/job-workflows/services/arrival-workflow.service.ts
  src/domains/routing/components/RouteMap.tsx
  src/domains/routing/repositories/daily-route.repository.ts
  src/domains/routing/services/mapbox-client.ts
  src/domains/safety/components/SafetyChecklistForm.tsx
  src/domains/safety/repositories/safety-checklist.repository.ts
  src/domains/safety/repositories/safety-completion.repository.ts
  src/domains/safety/services/safety-verification.service.ts
  src/domains/time-tracking/services/time-tracking.service.ts
  tests/e2e/route-optimization-flow.spec.ts
  tests/e2e/safety-checklist-flow.spec.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: complete kit_items migration and repository updates
  scripts/fix-kit-items-migration.ts
  src/domains/repos/scheduling-kits/kit-assignment-repository.ts
  src/domains/repos/scheduling-kits/kit-override-log-repository.ts
  src/domains/repos/scheduling-kits/kit-repository.ts
  src/domains/repos/scheduling-kits/kit-variant-repository.ts
  src/domains/routing/repositories/route-event.repository.ts
  src/domains/routing/repositories/route-waypoint.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: drop customers.company_id column and complete all critical fixes
  FIXES_COMPLETED_2025-09-30.md
  scripts/drop-customers-company-id.ts
  scripts/force-drop-customers-company-id.ts
  src/domains/intake/repositories/contact-candidate.repository.ts
  src/domains/intake/repositories/intake-extraction.repository.ts
  src/domains/intake/repositories/intake-session.repository.ts
  src/domains/intake/repositories/property-candidate.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(005): complete Phase 3.4 - all 13 repositories implemented
  src/domains/time-tracking/repositories/time-entry.repository.ts
  src/domains/workflows/repositories/instruction-document.repository.ts
  src/domains/workflows/repositories/job-task.repository.ts
  src/domains/workflows/repositories/task-template.repository.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat(005): implement Phase 3.5 services (T064-T067) - safety and routing
  src/domains/routing/services/route-optimization.service.ts
  src/domains/safety/services/safety-analytics.service.ts
  src/domains/safety/services/safety-checklist.service.ts
  src/domains/safety/services/safety-completion.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

docs(005): add SESSION_2_SUMMARY.md - comprehensive session report
  specs/005-field-intelligence-safety/SESSION_2_SUMMARY.md
Due: none

docs(005): update PROGRESS_SUMMARY for Session 2 completion
  specs/005-field-intelligence-safety/PROGRESS_SUMMARY.md
Due: none

docs(005): complete Feature 005 documentation (21 guides) - 100% COMPLETE
  docs/FEATURE_005_STATUS.md
  docs/admin-guides/analytics-reports.md
  docs/admin-guides/cost-tracking-dashboard.md
  docs/admin-guides/intake-source-configuration.md
  docs/admin-guides/route-optimization-setup.md
  docs/admin-guides/safety-checklist-templates.md
  docs/admin-guides/system-configuration.md
  docs/admin-guides/user-management.md
  docs/deployment-guides/api-key-configuration.md
  docs/deployment-guides/backup-and-disaster-recovery.md
  docs/deployment-guides/database-migration.md
  docs/deployment-guides/environment-setup.md
  docs/deployment-guides/mobile-app-deployment.md
  docs/deployment-guides/monitoring-and-logging.md
  docs/deployment-guides/pwa-installation.md
  docs/user-guides/dispatcher-desktop-guide.md
  docs/user-guides/field-crew-mobile-app.md
  docs/user-guides/gps-tracking-guide.md
  docs/user-guides/safety-checklist-guide.md
  docs/user-guides/supervisor-approval-guide.md
  docs/user-guides/time-tracking-guide.md
  docs/user-guides/voice-command-reference.md
Due: none

docs(005): add Session 6 summary - Feature 005 100% complete
  docs/SESSION_6_DOCUMENTATION_COMPLETE.md
Due: none

fix: add --legacy-peer-deps flag to npm ci in Dockerfile for Railway deployment
  Dockerfile
Due: none

fix: update npm and add verbose logging to debug Railway deployment issues
  Dockerfile
Due: none

fix: add Python and build tools for native module compilation in Docker
  Dockerfile
Due: none

fix: enhance Dockerfile with better debugging and TypeScript support
  Dockerfile
Due: none

docs: add critical reminder about Claude's ability to push changes directly
  CLAUDE.md
Due: none

fix: resolve Railway build failure by making speaker package optional
  Dockerfile
  package.json
Due: none

fix: ensure all dependencies are installed in Railway build
  Dockerfile
  package-lock.json
Due: none

fix: stub out field-intelligence routes to fix build errors
  CLAUDE.md.backup
  CLAUDE.md.restored
  CLAUDE_complete.md
  src/app/api/field-intelligence/intake/requests/route.ts
  src/app/api/field-intelligence/routing/optimize/route.ts
  src/app/api/field-intelligence/routing/schedules/route.ts
  src/app/api/field-intelligence/safety/analytics/route.ts
  src/app/api/field-intelligence/safety/checklists/route.ts
  src/app/api/field-intelligence/time/clock/route.ts
  src/app/api/field-intelligence/time/entries/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: comment out missing repository imports in field-intelligence services
  CLAUDE.md.backup
  CLAUDE.md.restored
  CLAUDE_complete.md
  src/domains/field-intelligence/services/intake-ocr.service.ts
  src/domains/field-intelligence/services/routing-geofencing.service.ts
  src/domains/field-intelligence/services/routing-gps-tracking.service.ts
  src/domains/field-intelligence/services/time-analytics.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: resolve all syntax errors in field-intelligence services
  src/domains/field-intelligence/services/intake-ocr.service.ts
  src/domains/field-intelligence/services/routing-geofencing.service.ts
  src/domains/field-intelligence/services/time-analytics.service.ts
  src/domains/field-intelligence/services/time-approval.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: correct remaining syntax errors in field-intelligence services
  scripts/fix-remaining-services.ts
  src/domains/field-intelligence/services/routing-geofencing.service.ts
  src/domains/field-intelligence/services/time-analytics.service.ts
  src/domains/field-intelligence/services/time-timesheets.service.ts
  src/domains/field-intelligence/services/workflows-analytics.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: resolve remaining build errors in field-intelligence services
  scripts/stub-workflow-services.ts
  src/domains/field-intelligence/services/routing-geofencing.service.ts
  src/domains/field-intelligence/services/time-analytics.service.ts
  src/domains/field-intelligence/services/workflows-completion-verification.service.ts
  src/domains/field-intelligence/services/workflows-instruction-search.service.ts
  src/domains/field-intelligence/services/workflows-job-arrival.service.ts
  src/domains/field-intelligence/services/workflows-task-parsing.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: resolve all remaining build errors
  scripts/fix-detection-session.ts
  src/domains/field-intelligence/services/workflows-completion-verification.service.ts
  src/domains/field-intelligence/services/workflows-instruction-search.service.ts
  src/domains/field-intelligence/services/workflows-job-arrival.service.ts
  src/domains/field-intelligence/services/workflows-task-parsing.service.ts
  src/domains/vision/services/detection-session.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: resolve final build errors
  next.config.js
  src/domains/field-intelligence/services/workflows-completion-verification.service.ts
  src/domains/field-intelligence/services/workflows-job-arrival.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: comprehensive resolution of ALL field-intelligence build errors
  package-lock.json
  package.json
  scripts/comprehensive-field-intelligence-fix.ts
  src/domains/field-intelligence/services/intake-analytics.service.ts
  src/domains/field-intelligence/services/intake-conversions.service.ts
  src/domains/field-intelligence/services/intake-duplicate-matching.service.ts
  src/domains/field-intelligence/services/intake-ocr.service.ts
  src/domains/field-intelligence/services/routing-analytics.service.ts
  src/domains/field-intelligence/services/routing-geofencing.service.ts
  src/domains/field-intelligence/services/routing-gps-tracking.service.ts
  src/domains/field-intelligence/services/routing-progress.service.ts
  src/domains/field-intelligence/services/time-analytics.service.ts
  src/domains/field-intelligence/services/time-approval.service.ts
  src/domains/field-intelligence/services/time-auto-clockout.service.ts
  src/domains/field-intelligence/services/time-timesheets.service.ts
  src/domains/field-intelligence/services/workflows-completion-verification.service.ts
  src/domains/field-intelligence/services/workflows-job-arrival.service.ts
  src/domains/field-intelligence/services/workflows-task-parsing.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

feat: add Railway deployment monitoring capabilities
  .github/workflows/deploy-railway.yml
  CLAUDE.md
  package-lock.json
  package.json
  scripts/railway-api.ts
  scripts/railway-check-latest.ts
  scripts/railway-monitor.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

fix: move environment variables before build in Dockerfile
  Dockerfile
  scripts/railway-cli-test.ts
  scripts/railway-find-deployments.ts
  scripts/railway-list-deployments.ts
  scripts/railway-test-auth.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0

fix: resolve Railway deployment build errors
  src/app/api/field-intelligence/time/analytics/route.ts
  src/app/api/field-intelligence/workflows/search-instructions/route.ts
  src/app/api/vision/cost/budget/route.ts
  src/app/api/vision/verifications/route.ts
  src/app/control-tower/layout.tsx
  src/app/control-tower/page.tsx
  src/app/control-tower/scheduling-kits-preview/page.tsx
  src/app/offline/page.tsx
  src/domains/inventory/adapters/container-repository-adapter.ts
  src/domains/inventory/repositories/container-assignments.repository.ts
  src/domains/inventory/repositories/inventory-items.repository.ts
  src/domains/inventory/repositories/inventory-transactions.repository.ts
  src/domains/inventory/repositories/purchase-receipts.repository.ts
  src/domains/inventory/repositories/training-data.repository.ts
  src/domains/vision/__tests__/unit/cost-record.repository.test.ts
  src/domains/vision/__tests__/unit/detected-item.repository.test.ts
  src/domains/vision/__tests__/unit/vision-verification.repository.test.ts
  src/domains/vision/repositories/cost-record.repository.ts
  src/domains/vision/repositories/detected-item.repository.ts
  src/domains/vision/repositories/vision-verification.repository.ts
  src/domains/vision/services/cost-tracking.service.ts
  src/domains/vision/services/media-asset.service.ts
  src/domains/vision/services/vision-verification.service.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

fix: add missing await for createClient() calls in API routes
  src/app/api/field-intelligence/intake/ocr/route.ts
  src/app/api/field-intelligence/routing/geofence/route.ts
  src/app/api/field-intelligence/routing/gps/route.ts
  src/app/api/field-intelligence/time/analytics/route.ts
  src/app/api/field-intelligence/time/approve/route.ts
  src/app/api/field-intelligence/time/timesheets/route.ts
  src/app/api/field-intelligence/workflows/analytics/route.ts
  src/app/api/field-intelligence/workflows/arrivals/route.ts
  src/app/api/field-intelligence/workflows/parse-tasks/route.ts
  src/app/api/field-intelligence/workflows/search-instructions/route.ts
  src/app/api/field-intelligence/workflows/verify-completion/route.ts
  src/app/api/inventory/check-in/route.ts
  src/app/api/inventory/check-out/route.ts
  src/app/api/inventory/confirm-selection/route.ts
  src/app/api/inventory/detect/route.ts
  src/app/api/inventory/material-usage/route.ts
  src/app/api/inventory/transfer/route.ts
Due: bash -c 'tsc --noEmit -p tsconfig.json', eslint --fix --max-warnings 0, bash -c 'npm run type-check'

Path conditions:
  bash -c 'tsc --noEmit -p tsconfig.json': any of: *.{ts,tsx}
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
